{% set title = 'Login' %}
{% include 'includes/header.html' %}
<body>
    <h1>LOGIN</h1>
    {% include 'includes/warning.html' %}
    <form action='/login' method='POST'>
      <div class="mb-3">
        <label for="username" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <button type="button" class="btn btn-secondary" onclick='window.location="/signup"'>Sign up</button>
    </form>
</body>
</html>